# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
<ul>
<li>Python</li>
<li>R</li>
<li>Spark</li>
<li>Hadoop</li>
<li>Julia</li>
</ul>

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia

Some of the commonly used libraries used by Data Scientists include:
1. pandas
2. numpy
3. tidyverse
4. ggplot
5. matplotlib

<table style="width:80%">
<tr>
<th><Data Science Tools></th>
</tr>

<tr>
<td><Sparj></td>
</tr>
    
<tr>
<td><Hadoop></td>
</tr>
    
<tr>
<td><Jupyter></td>
</tr>
    
</table>

| Data Science Tools |
| --- |
| Spark |
| Hadoop |
| Jupyter |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [5]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60

200/60

3.3333333333333335

## Author
Khalid Talal Suliman